.card {
	text-align: center;
}

.card__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.01em;
	margin-bottom: 8px;
}

.card__paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.01em;
}

@media only screen and (max-width: 375px) {
	.card {
		display: flex;
		flex-direction: row;
		gap: 16px
	}

	.card__title {
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.01em;
		text-align: start;
	}

	.card__paragraph {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.01em;
		text-align: start;
	}
}